* Dataset: https://www.kaggle.com/amananandrai/clickbait-dataset

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import string
import re
import nltk

import matplotlib.pyplot as plt

In [2]:
nltk.download("stopwords")
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sohal\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Sohal\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

### Reading the dataset

In [3]:
click_data_actual = pd.read_csv("Data/clickbait_data.csv")

In [4]:
click_data_actual.head()

                                            headline  clickbait
0                                 Should I Get Bings          1
1      Which TV Female Friend Group Do You Belong In          1
2  The New "Star Wars: The Force Awakens" Trailer...          1
3  This Vine Of New York On "Celebrity Big Brothe...          1
4  A Couple Did A Stunning Photo Shoot With Their...          1

In [5]:
click_data_actual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000 entries, 0 to 31999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   headline   32000 non-null  object
 1   clickbait  32000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 500.1+ KB

In [6]:
data_clickbait = click_data_actual[click_data_actual['clickbait'] == 1].head(8000)
data_no_clickbait = click_data_actual[click_data_actual['clickbait'] == 0].head(8000)

In [7]:
click_data = pd.concat([data_clickbait, data_no_clickbait])
click_data = click_data.reset_index(drop=True)
click_data.tail()

                                                headline  clickbait
15995  A Good Run for Mutual Funds, but Questions Remain          0
15996     Circus elephant escapes in Zurich, Switzerland          0
15997  Bush backtracks over legal status of alleged "...          0
15998  Synchronised bombings strike Indian state of A...          0
15999  U.S. Agencies Advised to Release Information t...          0

### Exploring the dataset

In [8]:
# Shape of the data
click_data.shape

(16000, 2)

In [9]:
# How many records are clickbait and how many are not?
click_data['clickbait'].value_counts()

1    8000
0    8000
Name: clickbait, dtype: int64

In [10]:
# Find missing data
click_data.isnull().sum()

headline     0
clickbait    0
dtype: int64

### Removing punctuation

In [11]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
def remove_punctuation(text):
    text_no_punctuation = "".join([char for char in text if char not in string.punctuation])
    return text_no_punctuation

In [13]:
click_data['headline_no_punctuation'] = click_data['headline'].apply(lambda x: remove_punctuation(x))

#click_data.head(10)

### Tokenization

In [14]:
# The function tokenizes the text by sliptting the text at places where it finds a non word/ non numeric character
def tokenize(text):
    tokens = re.split('\W+', text)
    return tokens

In [15]:
click_data['headline_tokenized'] = click_data['headline_no_punctuation'].apply(lambda x: tokenize(x.lower()))

#click_data.head(10)

### Removing stopwords

In [16]:
stopwords = nltk.corpus.stopwords.words("english")

In [17]:
len(stopwords)

179

In [18]:
def remove_stopwords(tokenized_lst):
    text = [word for word in tokenized_lst if word not in stopwords]
    return text

In [19]:
click_data["headline_no_stopwords"] = click_data["headline_tokenized"].apply(lambda x: remove_stopwords(x))

#click_data.head()

### Stem text

In [20]:
# Initialize PorterStemmer
# ps = nltk.PorterStemmer()

In [21]:
# def stemming(tokenized_text):
#    stem_text = " ".join(ps.stem(word) for word in tokenized_text)
#    return stem_text

In [22]:
#click_data['headline_stemmed'] = click_data['headline_no_stopwords'].apply(lambda x: stemming(x))

#click_data.head()

### Lemmatize text

In [23]:
# Initialize lemmatizer
wn = nltk.WordNetLemmatizer()

In [24]:
def lemmatizing(tokenized_text):
    lemmatized_text = " ".join(wn.lemmatize(word) for word in tokenized_text)
    return lemmatized_text

In [25]:
click_data['headline_lemmatized'] = click_data['headline_no_stopwords'].apply(lambda x: lemmatizing(x))

#click_data.head()

In [26]:
click_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   headline                 16000 non-null  object
 1   clickbait                16000 non-null  int64
 2   headline_no_punctuation  16000 non-null  object
 3   headline_tokenized       16000 non-null  object
 4   headline_no_stopwords    16000 non-null  object
 5   headline_lemmatized      16000 non-null  object
dtypes: int64(1), object(5)
memory usage: 750.1+ KB

***

## <center>Vectorization</center>

### Count Vectorization

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
count_vect = CountVectorizer()

In [29]:
data_1 = click_data.copy()
data_1.head()

,headline,clickbait,headline_no_punctuation,headline_tokenized,headline_no_stopwords,headline_lemmatized
0,Should I Get Bings,1,Should I Get Bings,"[should, i, get, bings]","[get, bings]",get bings
1,Which TV Female Friend Group Do You Belong In,1,Which TV Female Friend Group Do You Belong In,"[which, tv, female, friend, group, do, you, be...","[tv, female, friend, group, belong]",tv female friend group belong
2,"The New ""Star Wars: The Force Awakens"" Trailer...",1,The New Star Wars The Force Awakens Trailer Is...,"[the, new, star, wars, the, force, awakens, tr...","[new, star, wars, force, awakens, trailer, giv...",new star war force awakens trailer give chill
3,"This Vine Of New York On ""Celebrity Big Brothe...",1,This Vine Of New York On Celebrity Big Brother...,"[this, vine, of, new, york, on, celebrity, big...","[vine, new, york, celebrity, big, brother, fuc...",vine new york celebrity big brother fucking pe...
4,A Couple Did A Stunning Photo Shoot With Their...,1,A Couple Did A Stunning Photo Shoot With Their...,"[a, couple, did, a, stunning, photo, shoot, wi...","[couple, stunning, photo, shoot, baby, learnin...",couple stunning photo shoot baby learning inop...

In [30]:
x_count = count_vect.fit_transform(data_1['headline_lemmatized'])

In [31]:
x_count.shape

(16000, 15389)

In [32]:
count_vect.get_feature_names()

C:\Users\Sohal\anaconda3\envs\Python\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '00s',
 '01',
 '02',
 '04',
 '08',
 '09',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '10000copy',
 '10000th',
 '100k',
 '100th',
 '100yearold',
 '100ºf',
 '101',
 '103',
 '104',
 '105',
 '106',
 '10600',
 '108',
 '109',
 '109th',
 '10hour',
 '10minute',
 '10second',
 '10th',
 '10year',
 '10yearold',
 '11',
 '1100',
 '111',
 '113',
 '115',
 '117',
 '119',
 '11k',
 '11th',
 '11yearolds',
 '12',
 '1200',
 '12000',
 '120000',
 '1200mile',
 '121',
 '1215',
 '126292pound',
 '12th',
 '12yearold',
 '13',
 '130',
 '13000',
 '133',
 '134',
 '13500',
 '136',
 '137',
 '139',
 '139b',
 '13yearold',
 '14',
 '140',
 '14000',
 '140000',
 '14000acre',
 '1419',
 '144',
 '146',
 '147',
 '149',
 '14yearold',
 '15',
 '150',
 '15000',
 '153',
 '153000',
 '154',
 '159',
 '15m',
 '15second',
 '15yearold',
 '16',
 '160',
 '163',
 '164',
 '165',
 '168',
 '16death',
 '16hour',
 '16th',
 '16year',
 '16yearold',
 '17',
 '1700',
 '172',
 '175',
 '17point',
 '17th',
 '17year',
 '17yearold',
 '18',
 '180',
 '1850',
 '188',
 '18myearold',
 '18story',
 '18th',
 '18year',
 '19',
 '19000',
 '1900s',
 '191',
 '1915',
 '1919',
 '1920s',
 '1930',
 '1930s',
 '19391993',
 '1945',
 '195',
 '1950s',
 '1955',
 '1957',
 '1959',
 '1964',
 '1970s',
 '1976',
 '1978',
 '1980s',
 '1982',
 '1984',
 '1985',
 '1989',
 '199',
 '1990s',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '19yearold',
 '1st',
 '1year',
 '20',
 '200',
 '2000',
 '20000',
 '200000',
 '2000s',
 '2001',
 '2002',
 '2003',
 '2004',
 '20042005',
 '2005',
 '20050108',
 '2006',
 '2007',
 '200708',
 '2008',
 '20082009',
 '2009',
 '200k',
 '200s',
 '2010',
 '2011',
 '2012',
 '2013',
 '20132014',
 '2014',
 '2015',
 '2015s',
 '2016',
 '2018',
 '2019',
 '2020',
 '2050',
 '2089',
 '20k',
 '20something',
 '20th',
 '20yearold',
 '21',
 '2115',
 '215',
 '21yearold',
 '22',
 '222',
 '222570',
 '225',
 '226',
 '22year',
 '22yearold',
 '23',
 '234',
 '235',
 '23rd',
 '23yearold',
 '24',
 '240',
 '24hour',
 '24yearold',
 '25',
 '250',
 '25000',
 '250000',
 '258',
 '25m',
 '25yearold',
 '26',
 '2611',
 '263',
 '265th',
 '266',
 '266m',
 '26hour',
 '26year',
 '27',
 '270',
 '28',
 '280',
 '29',
 '292',
 '299',
 '29th',
 '29yearolds',
 '2channel',
 '2gb',
 '2k15',
 '2nd',
 '2ndlargest',
 '2year',
 '2yearold',
 '30',
 '300',
 '3000',
 '30000',
 '300000',
 '300th',
 '300ton',
 '306',
 '30a',
 '30yearold',
 '31',
 '31948',
 '32',
 '3200',
 '320000',
 '32500',
 '33',
 '333',
 '34',
 '34m',
 '34year',
 '35',
 '350',
 '3500',
 '351',
 '35th',
 '36',
 '360',
 '36bn',
 '37',
 '378',
 '38',
 '38m',
 '38s',
 '39',
 '39k',
 '3c',
 '3dprinted',
 '3g',
 '3in1',
 '3ingredient',
 '3nd',
 '3rd',
 '3yearold',
 '40',
 '400',
 '4000',
 '4000th',
 '41',
 '41000',
 '42',
 '4200',
 '43',
 '4317',
 '435',
 '44',
 '440',
 '440000',
 '447',
 '44th',
 '45',
 '450',
 '45kilometre',
 '45yearold',
 '46',
 '468',
 '46passenger',
 '47',
 '48',
 '49',
 '4th',
 '4thquarter',
 '4yearold',
 '50',
 '500',
 '5000',
 '50000',
 '500000',
 '50b',
 '50th',
 '51',
 '5191',
 '52',
 '53',
 '54',
 '55',
 '56',
 '56magnitude',
 '56to1',
 '57',
 '574',
 '58',
 '59',
 '5aside',
 '5day',
 '5foot9',
 '5p',
 '5second',
 '5sos',
 '5th',
 '60',
 '600',
 '60000',
 '60th',
 '60year',
 '61',
 '616',
 '62',
 '620',
 '63',
 '64',
 '65',
 '6500',
 '65yearold',
 '66',
 '67',
 '67th',
 '68',
 '69',
 '69ing',
 '6footsomething',
 '6th',
 '70',
 '700',
 '7000',
 '70th',
 '70yearold',
 '71',
 '72',
 '73',
 '737',
 '737s',
 '73myearold',
 '74',
 '745',
 '75',
 '7500',
 '757',
 '75w',
 '76',
 '77',
 '775',
 '777',
 '78',
 '78000',
 '787',
 '788000',
 '789',
 '78th',
 '79',
 '7day',
 '7m',
 '7th',
 '7yearold',
 '80',
 '800',
 '8000',
 '80000',
 '800th',
 '8020',
 '80211n',
 '80th',
 '81',
 '82',
 '821',
 '823',
 '82nd',
 '83',
 '84',
 '8400',
 '85',
 '86',
 '8600',
 '87',
 '876',
 '88',
 '89',
 '8995',
 '89yearold',
 '8picture',
 '8yearold',
 '90',
 '900',
 '9000',
 '90000',
 '90210',
 '90th',
 '90yearold',
 '91',
 '911',
 '918',
 '92',
 '92yearold',
 '93',
 '93yearold',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '995',
 '9month',
 '9yearold',
 'a1gp',
 'a320',
 'a340',
 'a380',
 'a400m',
 'aaa',
 'aaevpc',
 'aap',
 'aaron',
 'ab',
 'abandon',
 'abandoned',
 'abba',
 'abbas',
 'abbey',
 'abbott',
 'abby',
 'abc',
 'abdallahi',
 'abdelbaset',
 'abdicates',
 'abducted',
 'abduction',
 'abductor',
 'abdullah',
 'abel',
 'abercrombie',
 'aberdeen',
 'abhishek',
 'ability',
 'abin',
 'abitibibowater',
 'abkhazia',
 'ablaze',
 'able',
 'aboard',
 'aborigine',
 'abortion',
 'aboulhosn',
 'abound',
 'abraham',
 'abramoff',
 'abrams',
 'abroad',
 'abrogates',
 'absence',
 'absolute',
 'absolutely',
 'absorbs',
 'abstinence',
 'absurd',
 'absurdity',
 'absurdly',
 'abu',
 'abuela',
 'abuelita',
 'abuelitas',
 'abuse',
 'abused',
 'abuserelated',
 'abusing',
 'abusive',
 'academia',
 'academic',
 'academy',
 'acc',
 'accelerated',
 'accelerating',
 'acceleration',
 'accent',
 'accept',
 'acceptance',
 'accepted',
 'accepts',
 'access',
 'accessory',
 'accident',
 'accidental',
 'accidentally',
 'accord',
 'according',
 'account',
 'accountant',
 'accurate',
 'accurately',
 'accusation',
 'accuse',
 'accused',
 'accuses',
 'acdcs',
 'ace',
 'ache',
 'achievement',
 'achieves',
 'achieving',
 'acid',
 'acknowledge',
 'aclu',
 'acne',
 'acorn',
 'acoustic',
 'acquire',
 'acquired',
 'acquires',
 'acquisition',
 'acquit',
 'acquits',
 'acquitted',
 'acre',
 'across',
 'act',
 'acted',
 'acting',
 'action',
 'actionadventure',
 'actionpacked',
 'activated',
 'active',
 'actively',
 'activist',
 'activity',
 'actor',
 'actress',
 'actual',
 'actually',
 'acutely',
 'ad',
 'adam',
 'adapt',
 'adapted',
 'adcenter',
 'add',
 'addadhd',
 'addams',
 'added',
 'addict',
 'addicted',
 'addiction',
 'adding',
 'addington',
 'additional',
 'address',
 'addressed',
 'adelaide',
 'adele',
 'adeles',
 'adelphia',
 'adenhart',
 'adfree',
 'adha',
 'adhd',
 'adidas',
 'adirondacks',
 'adjust',
 'adjustment',
 'adkins',
 'administration',
 'administrator',
 'admiral',
 'admission',
 'admit',
 'admits',
 'admitted',
 'admitting',
 'adolescent',
 'adolf',
 'adopt',
 'adopted',
 'adopting',
 'adoption',
 'adopts',
 'adorable',
 'adorably',
 'adore',
 'adrian',
 'adrienne',
 'adrift',
 'aduba',
 'adult',
 'adulthood',
 'adulting',
 'adulty',
 'advance',
 'advantage',
 'advent',
 'adventure',
 'adventurer',
 'adventurous',
 'advert',
 'advertised',
 'advertisement',
 'advertiser',
 'advertising',
 'advice',
 'advise',
 'advised',
 'adviser',
 'advisor',
 'advisory',
 'advocacy',
 'advocate',
 'aer',
 'aerial',
 'aerodynamics',
 'aeroflotnord',
 'aerosmith',
 'af',
 'afc',
 'affair',
 'affect',
 'affected',
 'affirms',
 'affleck',
 'afford',
 'affordable',
 'afghan',
 'afghanistan',
 'afghanistanpakistan',
 'afl',
 'afleet',
 'afloat',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'afrolatinos',
 'afterchristmas',
 'aftermath',
 'afternoon',
 'afterparty',
 'aftershock',
 'agassi',
 'age',
 'aged',
 'ageism',
 'agency',
 'agenda',
 'agent',
 'aggravated',
 'aggression',
 'aggressive',
 'aggressively',
 'agim',
 'aging',
 'agniiii',
 'ago',
 'agonizing',
 'agree',
 'agreement',
 'agrees',
 'agriculture',
 'aground',
 'aguilera',
 'ahead',
 'ahhhhhhh',
 'ahmadinejad',
 'ahmed',
 'ahole',
 'ahs',
 'ai',
 'aiadmk',
 'aid',
 'aidan',
 'aide',
 'aided',
 'aiding',
 'aig',
 'ail',
 'aila',
 'ailing',
 'aim',
 'aiming',
 'ainge',
 'air',
 'airbender',
 'airbnb',
 'airbnbs',
 'airborne',
 'airbus',
 'aircraft',
 'aire',
 'airlifted',
 'airline',
 'airliner',
 'airplane',
 'airport',
 'airshow',
 'airspace',
 'airstrike',
 'airstrikes',
 'airtanker',
 'airwave',
 'airway',
 'aishwarya',
 'aisle',
 'aj',
 'aka',
 'akerman',
 'akihabara',
 'akkermans',
 'akshay',
 'al',
 'ala',
 'alabama',
 'aladdin',
 'alamo',
 'alan',
 'alanis',
 'alarm',
 'alarming',
 'alarmingly',
 'alaska',
 'alaskan',
 'alba',
 'albanian',
 'albany',
 'albert',
 'alberta',
 'alberto',
 'albinism',
 'albright',
 'album',
 'albus',
 'alcatel',
 'alcoa',
 'alcohol',
 'alcoholic',
 'alcoholrelated',
 'aldean',
 'aldulaimi',
 'aleague',
 'alert',
 'alesis',
 'alex',
 'alexander',
 'alexandra',
 'alexandria',
 'alexandrina',
 'alfred',
 'algaddafi',
 'algae',
 'algarve',
 'algebra',
 'algeria',
 'algerian',
 'algorithmic',
 'ali',
 'alias',
 'alice',
 'alicia',
 'alien',
 'alinghi',
 'aliph',
 'alissa',
 'alist',
 'alistair',
 'alitalia',
 'alito',
 'alive',
 'aljazeera',
 'allan',
 'allegation',
 'allege',
 'alleged',
 'allegedly',
 'alleges',
 'allegiant',
 'allen',
 'allergy',
 'allgirl',
 'allgirls',
 'alliance',
 'allied',
 'allinone',
 'allison',
 'allmale',
 'allnatural',
 'allnighter',
 'allotting',
 'allow',
 'allowed',
 'allowing',
 'allows',
 'allstar',
 'alltime',
 'alludes',
 'ally',
 'almaliki',
 'almegrahi',
 'almond',
 'almost',
 'alone',
 'along',
 'alongside',
 'alonso',
 'alopecia',
 'aloud',
 'alp',
 'alpha',
 'alpine',
 'alqaeda',
 'alqaida',
 'already',
 'alsadr',
 'alshabaab',
 'also',
 'alt',
 'alter',
 'altercation',
 'altered',
 'alternate',
 'alternative',
 'althea',
 'altitude',
 'altmire',
 'altona',
 'alvaro',
 'always',
 'alzarqawis',
 'alzawahiri',
 'alzheimers',
 'ama',
 'amanda',
 'amandla',
 'amas',
 'amateur',
 'amazing',
 'amazingly',
 'amazon',
 'amazoncom',
 'amb',
 'ambassador',
 'amber',
 'ambition',
 'ambivert',
 'ambrose',
 'ambulance',
 'ambush',
 'amc21',
 'amd',
 'amendment',
 'america',
 'american',
 'americanborn',
 'americanstyle',
 'ames',
 'amid',
 'amidst',
 'amigurumi',
 'amin',
 'ammo',
 'amnesty',
 'amoeba',
 'amondson',
 'among',
 'amount',
 'amplifies',
 'amputee',
 'amstell',
 'amsterdam',
 'amtrak',
 'amusement',
 'amy',
 'amys',
 'amélie',
 'an32',
 'anaconda',
 'anakin',
 'analog',
 'analysis',
 'analyst',
 'analytical',
 'analyze',
 'analyzing',
 'anarchist',
 'anatomy',
 'anc',
 'ancestor',
 'anchor',
 'ancient',
 'andalusian',
 'andaman',
 'anders',
 'anderson',
 'andes',
 'andi',
 'andreas',
 'andrew',
 'andrey',
 'android',
 'andromedon',
 'andry',
 'andy',
 'anecdote',
 'angara',
 'angel',
 'angela',
 'angeles',
 'angelesclass',
 'angelica',
 'angelina',
 'angelo',
 'anger',
 'angered',
 'angering',
 'angle',
 'anglia',
 'anglican',
 'anglo',
 'anglofrench',
 'angola',
 'angolan',
 'angry',
 'angst',
 'animal',
 'animated',
 'animator',
 'anime',
 'animorphs',
 'aniston',
 'anita',
 'ankle',
 'anna',
 'annalise',
 'annan',
 'anne',
 'annenberg',
 'annie',
 'anniversary',
 'annonunced',
 'announce',
 'announced',
 'announcement',
 'announcer',
 'announces',
 'announcing',
 'annoy',
 'annoying',
 'annual',
 'annuls',
 'anonymous',
 'anonymously',
 'anorexia',
 'another',
 'ansari',
 'ansaris',
 'answer',
 'answered',
 'answering',
 'answerscom',
 'ant',
 'antananarivo',
 'antarctic',
 'antarctica',
 'ante',
 'antenna',
 'anthem',
 ...]

In [33]:
x_count_df = pd.DataFrame(x_count.toarray())
x_count_df.head()

,0,1,2,3,4,5,6,7,8,9,...,15379,15380,15381,15382,15383,15384,15385,15386,15387,15388
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
x_count_df.columns = count_vect.get_feature_names()

C:\Users\Sohal\anaconda3\envs\Python\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [35]:
x_count_df.head()

,000,00s,01,02,04,08,09,10,100,1000,...,zoom,zoombak,zotob,zuckerberg,zuma,zurich,zykina,ángel,íngrid,ürümqi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Count Vectorizer (N-gram)

In [36]:
data_2 = click_data.copy()
data_2.head()

,headline,clickbait,headline_no_punctuation,headline_tokenized,headline_no_stopwords,headline_lemmatized
0,Should I Get Bings,1,Should I Get Bings,"[should, i, get, bings]","[get, bings]",get bings
1,Which TV Female Friend Group Do You Belong In,1,Which TV Female Friend Group Do You Belong In,"[which, tv, female, friend, group, do, you, be...","[tv, female, friend, group, belong]",tv female friend group belong
2,"The New ""Star Wars: The Force Awakens"" Trailer...",1,The New Star Wars The Force Awakens Trailer Is...,"[the, new, star, wars, the, force, awakens, tr...","[new, star, wars, force, awakens, trailer, giv...",new star war force awakens trailer give chill
3,"This Vine Of New York On ""Celebrity Big Brothe...",1,This Vine Of New York On Celebrity Big Brother...,"[this, vine, of, new, york, on, celebrity, big...","[vine, new, york, celebrity, big, brother, fuc...",vine new york celebrity big brother fucking pe...
4,A Couple Did A Stunning Photo Shoot With Their...,1,A Couple Did A Stunning Photo Shoot With Their...,"[a, couple, did, a, stunning, photo, shoot, wi...","[couple, stunning, photo, shoot, baby, learnin...",couple stunning photo shoot baby learning inop...

In [37]:
# range is unigram, bigram, trigram and so on
ngram_vect = CountVectorizer(ngram_range=(2,2))

In [38]:
x_count_ngram = ngram_vect.fit_transform(data_2['headline_lemmatized'])

In [39]:
x_count_ngram.shape

(16000, 67687)

In [40]:
ngram_vect.get_feature_names()

C:\Users\Sohal\anaconda3\envs\Python\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000 run',
 '00s bad',
 '00s british',
 '00s disney',
 '00s everyone',
 '00s forgot',
 '00s girl',
 '00s hit',
 '00s kid',
 '00s movie',
 '00s music',
 '00s pop',
 '00s still',
 '00s teen',
 '00s youll',
 '01 percent',
 '02 last',
 '04 last',
 '08 matchday',
 '09 forssell',
 '09 goalkeeper',
 '09 inter',
 '09 wolfsburg',
 '10 15',
 '10 2008',
 '10 amazing',
 '10 arrested',
 '10 authority',
 '10 awesome',
 '10 awkward',
 '10 basic',
 '10 billionth',
 '10 bold',
 '10 celebs',
 '10 centimetre',
 '10 cheating',
 '10 christmas',
 '10 constellation',
 '10 day',
 '10 delicious',
 '10 excuse',
 '10 food',
 '10 friend',
 '10 ghost',
 '10 give',
 '10 gogo',
 '10 google',
 '10 hairstyle',
 '10 injured',
 '10 jackolanterns',
 '10 le',
 '10 leongatha',
 '10 lifechanging',
 '10 men',
 '10 mesmerizing',
 '10 million',
 '10 millionth',
 '10 minute',
 '10 month',
 '10 mouthwatering',
 '10 movie',
 '10 much',
 '10 mundane',
 '10 pair',
 '10 people',
 '10 perk',
 '10 popular',
 '10 question',
 '10 rare',
 '10 reason',
 '10 round',
 '10 second',
 '10 strangest',
 '10 surprisingly',
 '10 swoonworthy',
 '10 thing',
 '10 tip',
 '10 truth',
 '10 uefa',
 '10 way',
 '10 west',
 '10 world',
 '10 year',
 '100 10hour',
 '100 baghdad',
 '100 best',
 '100 better',
 '100 completely',
 '100 day',
 '100 dead',
 '100 die',
 '100 image',
 '100 killed',
 '100 love',
 '100 madoff',
 '100 make',
 '100 million',
 '100 mortgage',
 '100 moved',
 '100 need',
 '100 night',
 '100 note',
 '100 participate',
 '100 quiz',
 '100 season',
 '100 shiite',
 '100 soldier',
 '100 thousand',
 '100 tv',
 '100 year',
 '1000 arrested',
 '1000 month',
 '1000 store',
 '1000 win',
 '10000 2009',
 '10000 oil',
 '100000 haiti',
 '100000 parent',
 '100000 protest',
 '100000 video',
 '10000copy run',
 '10000th article',
 '100k prize',
 '100th season',
 '100yearold wedding',
 '100ºf heat',
 '101 dalmatian',
 '101 run',
 '103 game',
 '105 year',
 '106 billion',
 '106 star',
 '106 unexpectedly',
 '10600 yankee',
 '108 beautiful',
 '109 protest',
 '109th boston',
 '10hour workday',
 '10minute pizza',
 '10second clip',
 '10th birthday',
 '10th floor',
 '10year prison',
 '10yearold child',
 '10yearold spaniel',
 '11 000',
 '11 2008',
 '11 adorable',
 '11 art',
 '11 awkward',
 '11 beautiful',
 '11 beirut',
 '11 best',
 '11 billion',
 '11 bollywood',
 '11 bowl',
 '11 celebrity',
 '11 chart',
 '11 christmas',
 '11 classic',
 '11 craigslist',
 '11 cute',
 '11 deeply',
 '11 far',
 '11 fatshaming',
 '11 genderprogressive',
 '11 gift',
 '11 halloween',
 '11 haunted',
 '11 honest',
 '11 horrifyingly',
 '11 hugest',
 '11 iconic',
 '11 incredibly',
 '11 ingenious',
 '11 insanely',
 '11 internet',
 '11 kansa',
 '11 killed',
 '11 movie',
 '11 mp',
 '11 people',
 '11 photo',
 '11 pick',
 '11 planner',
 '11 premiere',
 '11 question',
 '11 quote',
 '11 real',
 '11 reason',
 '11 ridiculous',
 '11 scary',
 '11 scientific',
 '11 sex',
 '11 shameful',
 '11 shibas',
 '11 sign',
 '11 software',
 '11 song',
 '11 steamy',
 '11 struggle',
 '11 surprising',
 '11 tattoo',
 '11 thanksgiving',
 '11 thing',
 '11 time',
 '11 tragic',
 '11 turkey',
 '11 type',
 '11 underrated',
 '11 valentine',
 '11 vegan',
 '11 weird',
 '11 woman',
 '11 work',
 '1100 dealer',
 '1100 dealership',
 '1100 evacuated',
 '113 million',
 '113 reported',
 '117 billion',
 '119 billion',
 '11k tiny',
 '11th consecutive',
 '11th lacrosse',
 '11th suspect',
 '12 90',
 '12 amazing',
 '12 animal',
 '12 awkward',
 '12 burning',
 '12 celebrity',
 '12 chart',
 '12 chili',
 '12 classic',
 '12 crazy',
 '12 decadent',
 '12 disneyland',
 '12 diva',
 '12 dumb',
 '12 easy',
 '12 emojis',
 '12 filthy',
 '12 finish',
 '12 firefighter',
 '12 functioning',
 '12 georgetown',
 '12 gift',
 '12 glorious',
 '12 grim',
 '12 hack',
 '12 hilarious',
 '12 horrifyingly',
 '12 hour',
 '12 iconic',
 '12 incredible',
 '12 india',
 '12 indian',
 '12 injures',
 '12 insanely',
 '12 inspiring',
 '12 jimmy',
 '12 life',
 '12 lowcarb',
 '12 moment',
 '12 month',
 '12 motivational',
 '12 notre',
 '12 oversized',
 '12 painfully',
 '12 penalty',
 '12 people',
 '12 photo',
 '12 pick',
 '12 picture',
 '12 place',
 '12 powerful',
 '12 pregnancy',
 '12 presidential',
 '12 ps1',
 '12 punch',
 '12 quarter',
 '12 reason',
 '12 recipe',
 '12 relatable',
 '12 sassiest',
 '12 scientist',
 '12 semifinal',
 '12 sign',
 '12 struggle',
 '12 stunning',
 '12 terrifying',
 '12 thing',
 '12 time',
 '12 title',
 '12 tournament',
 '12 tree',
 '12 undeniable',
 '12 unexpectedly',
 '12 way',
 '12 weird',
 '12 wildly',
 '12 year',
 '1200 school',
 '12000 penny',
 '1200mile range',
 '121 day',
 '1215 december',
 '126292pound truck',
 '12th doctor',
 '12yearold brother',
 '12yearold school',
 '12yearold sikh',
 '13 accurate',
 '13 amazingly',
 '13 animal',
 '13 annoying',
 '13 apps',
 '13 art',
 '13 award',
 '13 awkward',
 '13 backyard',
 '13 basic',
 '13 beautiful',
 '13 best',
 '13 big',
 '13 billion',
 '13 body',
 '13 brutally',
 '13 celebrity',
 '13 celebs',
 '13 chart',
 '13 confession',
 '13 cute',
 '13 cuties',
 '13 dad',
 '13 dead',
 '13 death',
 '13 demolished',
 '13 disturbing',
 '13 drugresistant',
 '13 eyeopening',
 '13 fact',
 '13 film',
 '13 firm',
 '13 german',
 '13 gifs',
 '13 gift',
 '13 glorious',
 '13 haiku',
 '13 halloween',
 '13 hanukkah',
 '13 harry',
 '13 hashtags',
 '13 hilarious',
 '13 holiday',
 '13 honest',
 '13 horror',
 '13 hour',
 '13 idea',
 '13 indian',
 '13 insanely',
 '13 killed',
 '13 lesbian',
 '13 lie',
 '13 lyric',
 '13 magnificent',
 '13 marvel',
 '13 meetcute',
 '13 men',
 '13 million',
 '13 misogynistic',
 '13 missing',
 '13 moment',
 '13 movie',
 '13 new',
 '13 nobake',
 '13 part',
 '13 pedro',
 '13 pick',
 '13 picture',
 '13 question',
 '13 reason',
 '13 ridiculously',
 '13 sign',
 '13 smoking',
 '13 spellbooks',
 '13 stage',
 '13 state',
 '13 struggle',
 '13 terrible',
 '13 terrifying',
 '13 text',
 '13 thing',
 '13 time',
 '13 traralgon',
 '13 tumblr',
 '13 tv',
 '13 unbelievably',
 '13 way',
 '13 weird',
 '13 win',
 '13 wise',
 '13 woman',
 '13 world',
 '13 year',
 '13 young',
 '130 dead',
 '13000 people',
 '133 trillion',
 '134 filipino',
 '13500 evacuated',
 '136 billion',
 '137 foot',
 '13yearold kid',
 '14 adorable',
 '14 awkward',
 '14 ball',
 '14 beautiful',
 '14 beautifully',
 '14 bed',
 '14 best',
 '14 billion',
 '14 celebrity',
 '14 chart',
 '14 colorado',
 '14 confession',
 '14 couple',
 '14 crazy',
 '14 crucial',
 '14 deliciously',
 '14 detention',
 '14 disgustingly',
 '14 diy',
 '14 dog',
 '14 duet',
 '14 facebook',
 '14 fall',
 '14 flawless',
 '14 genius',
 '14 gift',
 '14 glutenfree',
 '14 graph',
 '14 heartbreaking',
 '14 honest',
 '14 horror',
 '14 important',
 '14 incredible',
 '14 insanely',
 '14 irresistible',
 '14 killed',
 '14 men',
 '14 mma',
 '14 model',
 '14 new',
 '14 pair',
 '14 people',
 '14 perfect',
 '14 photo',
 '14 picture',
 '14 powerful',
 '14 quarter',
 '14 rare',
 '14 reason',
 '14 ridiculously',
 '14 scrumptious',
 '14 soldier',
 '14 star',
 '14 struggle',
 '14 supermarket',
 '14 surprising',
 '14 text',
 '14 thing',
 '14 time',
 '14 trend',
 '14 type',
 '14 unbelievably',
 '14 way',
 '14 woman',
 '140 billion',
 '14000acre southern',
 '1419 september',
 '144 percent',
 '146 billion',
 '147 gang',
 '149 alqaeda',
 '14yearold fan',
 '14yearold found',
 '15 2008',
 '15 absolutely',
 '15 aim',
 '15 animal',
 '15 appetizer',
 '15 autumnthemed',
 '15 average',
 '15 awesome',
 '15 beautiful',
 '15 best',
 '15 billion',
 '15 blasphemous',
 '15 body',
 '15 boozy',
 '15 bowl',
 '15 brilliant',
 '15 bumper',
 '15 celebrity',
 '15 chart',
 '15 cheap',
 '15 christian',
 '15 christmas',
 '15 confession',
 '15 confirmed',
 '15 cooky',
 '15 cringeworthy',
 '15 crucial',
 '15 delectable',
 '15 delicious',
 '15 deliciously',
 '15 depressing',
 '15 die',
 '15 dog',
 '15 dollar',
 '15 duet',
 '15 easy',
 '15 expensive',
 '15 exquisite',
 '15 fifty',
 '15 fresher',
 '15 gamechanging',
 '15 gary',
 '15 geordie',
 '15 gift',
 '15 ginger',
 '15 gorgeous',
 '15 great',
 '15 halloween',
 '15 hanukkah',
 '15 highly',
 '15 hilarious',
 '15 hit',
 '15 holiday',
 '15 home',
 '15 honest',
 '15 hot',
 '15 humorously',
 '15 incredibly',
 '15 indian',
 '15 injured',
 '15 insane',
 '15 insanely',
 '15 inspiring',
 '15 instrumental',
 '15 invisible',
 '15 iraq',
 '15 item',
 '15 lazy',
 '15 life',
 '15 lifechanging',
 '15 lightly',
 '15 men',
 '15 million',
 '15 mindblowing',
 '15 moment',
 '15 mountain',
 '15 mouthwatering',
 '15 movie',
 '15 music',
 '15 nanometre',
 '15 new',
 '15 nyc',
 '15 obnoxious',
 '15 ooey',
 '15 penis',
 '15 people',
 '15 percent',
 '15 perfect',
 '15 pet',
 '15 phrase',
 '15 picture',
 '15 place',
 '15 portrait',
 '15 powerful',
 '15 purrfect',
 '15 question',
 '15 rad',
 '15 random',
 '15 really',
 '15 reason',
 '15 resolution',
 '15 ridiculously',
 '15 scrumptious',
 '15 season',
 '15 secret',
 '15 set',
 '15 sickeningly',
 '15 sign',
 '15 situation',
 '15 somalia',
 '15 song',
 '15 southwest',
 '15 state',
 '15 struggle',
 '15 stunning',
 '15 stylishly',
 '15 super',
 '15 surprising',
 '15 tee',
 '15 terrifying',
 '15 text',
 '15 thing',
 '15 thought',
 '15 time',
 '15 trivia',
 '15 tumblr',
 '15 turkey',
 '15 tv',
 '15 unbearable',
 '15 useful',
 '15 video',
 '15 vine',
 '15 vintage',
 '15 way',
 '15 weird',
 '15 winter',
 '15 woman',
 '15 work',
 '15 world',
 '15 year',
 '150 bridge',
 '150 friend',
 '150 metre',
 '150 mile',
 '150 million',
 '150 year',
 '15000 attended',
 '15000 dangerous',
 '15000 job',
 '153 aboard',
 '153 billion',
 '153 people',
 '153000 ransom',
 '159 win',
 '15m apply',
 '15second video',
 '15yearold girl',
 '16 18story',
 '16 2016',
 '16 adorable',
 '16 adult',
 '16 animal',
 '16 baghdad',
 '16 beautifully',
 '16 billion',
 '16 bird',
 '16 black',
 '16 boozy',
 '16 calming',
 '16 celebrity',
 '16 chart',
 '16 chocolate',
 '16 clapbacks',
 '16 confession',
 '16 cosplayers',
 '16 craziest',
 '16 cute',
 '16 delicious',
 '16 delightful',
 '16 exciting',
 '16 exit',
 '16 extraordinary',
 '16 eyebrow',
 '16 fact',
 '16 fairy',
 '16 field',
 '16 foot',
 '16 gorgeous',
 '16 hilarious',
 '16 honest',
 '16 imaginative',
 '16 immigrant',
 '16 important',
 '16 incredible',
 '16 iphone',
 '16 jackie',
 '16 justin',
 '16 killer',
 '16 london',
 '16 luscious',
 '16 mac',
 '16 made',
 '16 moment',
 '16 musician',
 '16 nerdily',
 '16 new',
 '16 nostalgic',
 '16 painfully',
 '16 people',
 '16 perfect',
 '16 pet',
 '16 photo',
 '16 picture',
 '16 puppy',
 '16 random',
 '16 reallife',
 '16 reason',
 '16 relationship',
 '16 scary',
 '16 shittiest',
 '16 sibling',
 '16 sign',
 '16 simpson',
 '16 snapchats',
 '16 spanish',
 '16 split',
 '16 teen',
 '16 terrible',
 '16 text',
 '16 thing',
 '16 time',
 '16 truly',
 '16 tweet',
 '16 unwritten',
 '16 way',
 '16 weird',
 '16 weirdest',
 '16 wikipedia',
 '16 word',
 '16 worst',
 '16 young',
 '160 crash',
 '160 presumed',
 '163 dead',
 '164 billion',
 '164 million',
 '165 mph',
 '168 rob',
 '16death crash',
 '16hour loud',
 '16th century',
 '16year low',
 '16yearold brother',
 '16yearold camera',
 '16yearold self',
 '17 2009',
 '17 adorable',
 '17 amazing',
 '17 amazon',
 '17 award',
 '17 babysitting',
 '17 badass',
 '17 beautiful',
 '17 beautifully',
 '17 beauty',
 '17 beaver',
 '17 best',
 '17 billion',
 '17 board',
 '17 bold',
 '17 book',
 '17 boozy',
 '17 branch',
 '17 brilliant',
 '17 cat',
 '17 celebrity',
 '17 celebs',
 '17 cheesy',
 '17 city',
 '17 clever',
 '17 colorado',
 '17 compelling',
 '17 completely',
 '17 confession',
 '17 cosplayers',
 '17 creepy',
 '17 dad',
 '17 deeply',
 '17 delectable',
 '17 delicious',
 '17 dessert',
 '17 disney',
 '17 dog',
 '17 donald',
 '17 drag',
 '17 dramatic',
 '17 easy',
 '17 embarrassing',
 '17 emotion',
 '17 entirely',
 '17 eyeopening',
 '17 face',
 '17 facebook',
 '17 fact',
 '17 fall',
 '17 female',
 '17 first',
 '17 food',
 '17 funniest',
 '17 genius',
 '17 gift',
 '17 glitch',
 '17 gorgeous',
 '17 great',
 '17 greatest',
 '17 hairdresser',
 '17 halloween',
 '17 healthier',
 '17 heartbreaking',
 '17 heartshaped',
 '17 hilarious',
 '17 holiday',
 '17 home',
 '17 horrible',
 '17 horribly',
 '17 house',
 '17 iconic',
 '17 image',
 '17 important',
 '17 impossibly',
 '17 inappropriate',
 '17 incredible',
 '17 incredibly',
 '17 inexplicably',
 '17 insanely',
 '17 inspirational',
 '17 instagram',
 '17 itty',
 '17 joke',
 '17 killed',
 '17 kitchen',
 '17 knockoff',
 '17 know',
 '17 lifechanging',
 '17 lohanthony',
 '17 lowsugar',
 '17 makeup',
 '17 mcdonalds',
 '17 medieval',
 '17 meet',
 '17 meme',
 '17 mindblowingly',
 '17 minimalist',
 '17 misconception',
 '17 moment',
 '17 mouthwatering',
 '17 nude',
 '17 outrageosly',
 '17 outrageously',
 '17 overtly',
 '17 painful',
 '17 pair',
 '17 paleo',
 '17 pasta',
 '17 people',
 '17 perfect',
 '17 photo',
 '17 pick',
 '17 picture',
 '17 piece',
 '17 place',
 '17 popular',
 '17 powerful',
 '17 practical',
 '17 princess',
 '17 problem',
 '17 product',
 '17 productivity',
 '17 question',
 '17 reaction',
 '17 real',
 '17 really',
 '17 reason',
 '17 red',
 '17 relationship',
 '17 reyinspired',
 '17 ridiculous',
 '17 scandinavian',
 '17 secret',
 '17 secretly',
 '17 seemingly',
 '17 severely',
 '17 shania',
 '17 shocking',
 '17 sibling',
 '17 sign',
 '17 situation',
 '17 song',
 '17 strikingly',
 '17 struggle',
 '17 stunning',
 '17 stupidly',
 '17 subtle',
 '17 supernecessary',
 '17 tattoo',
 '17 text',
 '17 thanksgiving',
 '17 thing',
 '17 thought',
 '17 time',
 '17 tinder',
 '17 totally',
 '17 troop',
 '17 truth',
 '17 tumblr',
 '17 tweet',
 '17 tweeter',
 '17 twentysomething',
 '17 type',
 '17 underrated',
 '17 unforgettable',
 '17 unusual',
 '17 video',
 '17 way',
 '17 website',
 '17 wicked',
 '17 woman',
 '17 wonderful',
 '17 word',
 '17 worst',
 '17 young',
 '1700 job',
 '1700 runner',
 '1700 woman',
 '172 mph',
 '175 billion',
 '175 killed',
 '175 trillion',
 '17point play',
 '17th turkish',
 '17year peak',
 '17yearold artist',
 '18 ad',
 '18 adult',
 '18 american',
 '18 animal',
 '18 badass',
 '18 billion',
 '18 board',
 '18 booty',
 '18 breathtakingly',
 '18 brutal',
 '18 cat',
 '18 celebrity',
 '18 cheese',
 '18 confession',
 '18 cosy',
 '18 couple',
 '18 cringeworthy',
 '18 dating',
 '18 decadent',
 '18 deliciously',
 '18 difference',
 '18 dog',
 '18 dreamy',
 '18 easy',
 '18 eyepopping',
 '18 fabulous',
 '18 fact',
 '18 fall',
 '18 filipino',
 '18 fix',
 '18 food',
 '18 genius',
 '18 ghostly',
 '18 gift',
 '18 gloriously',
 '18 gorgeous',
 '18 greatest',
 '18 grilled',
 '18 hangover',
 '18 hilarious',
 '18 iconic',
 '18 illegal',
 '18 important',
 '18 incredibly',
 '18 injured',
 '18 insanely',
 '18 line',
 '18 lolworthy',
 '18 map',
 '18 million',
 '18 moving',
 '18 musthave',
 '18 offensive',
 '18 old',
 '18 parent',
 '18 people',
 '18 perfect',
 '18 photo',
 '18 pia',
 '18 pic',
 '18 picture',
 '18 place',
 '18 poppunk',
 '18 post',
 '18 powerful',
 '18 problem',
 '18 product',
 '18 question',
 '18 quick',
 '18 really',
 ...]

In [41]:
x_count_ngram_df = pd.DataFrame(x_count_ngram.toarray(), columns = ngram_vect.get_feature_names())
x_count_ngram_df.head()

,000 run,00s bad,00s british,00s disney,00s everyone,00s forgot,00s girl,00s hit,00s kid,00s movie,...,zuckerberg answered,zuckerberg victim,zuma charged,zuma chooses,zurich call,zurich switzerland,zykina dy,ángel cabrera,íngrid betancourt,ürümqi china
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Tfidf vectorizer

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [43]:
data_3 = click_data.copy()

In [44]:
tfidf__vect = TfidfVectorizer()
x_tfidf = tfidf__vect.fit_transform(data_3['headline_lemmatized'])

In [45]:
x_tfidf.shape

(16000, 15389)

In [46]:
x_tfidf_df = pd.DataFrame(x_tfidf.toarray(), columns = tfidf__vect.get_feature_names())
x_tfidf_df = x_tfidf_df.reset_index(drop=True)
x_tfidf_df.isnull().sum()

C:\Users\Sohal\anaconda3\envs\Python\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

000       0
00s       0
01        0
02        0
04        0
         ..
zurich    0
zykina    0
ángel     0
íngrid    0
ürümqi    0
Length: 15389, dtype: int64

***

## <center>Feature Engineering</center>

In [47]:
#data_4 = click_data.iloc[:, :2]
#data_4.head()

### Counting the length of the text

In [48]:
# This feature is used to check if the length of clickbait headline is longer than that of normal headline
#data_4['headline_length'] = data_4['headline'].apply(lambda x: len(x) - x.count(" "))
#data_4.head()
x_tfidf_df['headline_length'] = click_data['headline'].apply(lambda x: len(x) - x.count(" "))
x_tfidf_df = x_tfidf_df.reset_index(drop=True)
x_tfidf_df.isnull().sum()

000                0
00s                0
01                 0
02                 0
04                 0
                  ..
zykina             0
ángel              0
íngrid             0
ürümqi             0
headline_length    0
Length: 15390, dtype: int64

### Calcultaing the percentage of the punctuation in the headline

In [49]:
def count_punctuation(text):
    count = sum(1 for char in text if char in string.punctuation)
    percent = np.round(count / (len(text) - text.count(" ")),2) * 100
    return percent

#data_4['punctuation%'] = data_4['headline'].apply(lambda x: count_punctuation(x))
#data_4.head()
x_tfidf_df['punctuation%'] = click_data['headline'].apply(lambda x: count_punctuation(x))
x_tfidf_df = x_tfidf_df.reset_index(drop=True)
x_tfidf_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Columns: 15391 entries, 000 to punctuation%
dtypes: float64(15390), int64(1)
memory usage: 1.8 GB

### Counting the percent of uppercase letters in the headline

In [50]:
def count_uppercase_char(text):
    count_uppercase = sum(1 for char in text if char.isupper())
    percent_uppercase = np.round(count_uppercase / (len(text) - text.count(" ")),2) * 100
    return percent_uppercase

#data_4['Uppercase%'] = data_4['headline'].apply(lambda x: count_uppercase_char(x))
#data_4.head()
x_tfidf_df['uppercase%'] = click_data['headline'].apply(lambda x: count_uppercase_char(x))
x_tfidf_df.isnull().sum()

000                0
00s                0
01                 0
02                 0
04                 0
                  ..
íngrid             0
ürümqi             0
headline_length    0
punctuation%       0
uppercase%         0
Length: 15392, dtype: int64

### Count the number of question marks

In [51]:
def count_question_mark(text):
    count = sum(1 for char in text if char == "?")
    return count

#data_4['Question_mark_count'] = data_4['headline'].apply(lambda x: count_question_mark(x))
#data_4.iloc[14023]
x_tfidf_df['question_mark_count'] = click_data['headline'].apply(lambda x: count_question_mark(x))
x_tfidf_df.iloc[13758]

000                     0.0
00s                     0.0
01                      0.0
02                      0.0
04                      0.0
                       ...
ürümqi                  0.0
headline_length        46.0
punctuation%            0.0
uppercase%              4.0
question_mark_count     0.0
Name: 13758, Length: 15393, dtype: float64

### Evaluating the features

In [52]:
# Plotting the headline length
#bins = np.linspace(0, 120, 40)
#plt.hist(data_4[data_4['clickbait']==1]['headline_length'], bins, alpha = 0.5, label = 'Clickbait')
#plt.hist(data_4[data_4['clickbait']==0]['headline_length'], bins, alpha = 0.5, label = 'Not a Clickbait')
#plt.legend()
#plt.show()

In [53]:
# Plotting the headline punctuation percent
#bins = np.linspace(0, 20, 40)
#plt.hist(data_4[data_4['clickbait']==1]['punctuation%'], bins, alpha = 0.5, label = 'Clickbait')
#plt.hist(data_4[data_4['clickbait']==0]['punctuation%'], bins, alpha = 0.5, label = 'Not a Clickbait')
#plt.legend()
#plt.show()

In [54]:
# Plotting the headline uppercase percent
#bins = np.linspace(0, 50, 40)
#plt.hist(data_4[data_4['clickbait']==1]['Uppercase%'], bins, alpha = 0.5, label = 'Clickbait')
#plt.hist(data_4[data_4['clickbait']==0]['Uppercase%'], bins, alpha = 0.5, label = 'Not a Clickbait')
#plt.legend()
#plt.show()

In [55]:
# Plotting the headline question mark count
#bins = np.linspace(0, 5, 40)
#plt.hist(data_4[data_4['clickbait']==1]['Question_mark_count'], bins, alpha = 0.5, label = 'Clickbait')
#plt.hist(data_4[data_4['clickbait']==0]['Question_mark_count'], bins, alpha = 0.5, label = 'Not a Clickbait')
#plt.legend()
#plt.show()

### Box-Cox power transformation

In [56]:
#for i in range(1, 6):
#    plt.hist((data_4['punctuation%'])**(1/i), bins = 40)
#    plt.title("Transformation: 1/{}".format(str(i)))
#    plt.show()

## <center>Random Forest Classifier through Cross-validation</center>

In [57]:
data_df = x_tfidf_df.copy()

In [58]:
data_df.head()

,000,00s,01,02,04,08,09,10,100,1000,...,zuma,zurich,zykina,ángel,íngrid,ürümqi,headline_length,punctuation%,uppercase%,question_mark_count
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,15,0.0,27.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,37,0.0,27.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,60,5.0,23.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,56,4.0,21.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,83,0.0,22.0,0

In [59]:
data_df.isnull().sum()

000                    0
00s                    0
01                     0
02                     0
04                     0
                      ..
ürümqi                 0
headline_length        0
punctuation%           0
uppercase%             0
question_mark_count    0
Length: 15393, dtype: int64

In [60]:
features = data_df
target = click_data['clickbait']

In [61]:
#from sklearn.model_selection import KFold, cross_val_score
#from sklearn.ensemble import RandomForestClassifier

In [62]:
# n_jobs is set to -1 so that multiple jobs can be executed in parallel
#rf = RandomForestClassifier(n_jobs = -1)

# KFold is used to divide the dataset into subsets such that it can divide the dataset into specified number of sets.
# The model is then trained on k-1 sets and 1 set is kept aside as a test set
#k_fold = KFold(n_splits=5)

#cross_val_score(rf, features, target, cv=k_fold, scoring='accuracy', n_jobs=-1)

## <center>Random Forest Classifier through holdout test set</center>

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_recall_fscore_support as score

In [64]:
features = features.astype(float, errors = 'raise')

In [65]:
X_train, X_test, Y_train, Y_test = train_test_split(features, target, test_size=0.2)

In [66]:
X_train.head()

,000,00s,01,02,04,08,09,10,100,1000,...,zuma,zurich,zykina,ángel,íngrid,ürümqi,headline_length,punctuation%,uppercase%,question_mark_count
13489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,56.0,0.0,20.0,0.0
10800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,44.0,5.0,25.0,0.0
6078,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,42.0,0.0,17.0,0.0
7723,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,53.0,0.0,13.0,0.0
285,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,56.0,5.0,18.0,0.0

In [67]:
X_test.head()

,000,00s,01,02,04,08,09,10,100,1000,...,zuma,zurich,zykina,ángel,íngrid,ürümqi,headline_length,punctuation%,uppercase%,question_mark_count
13128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,38.0,0.0,13.0,0.0
11313,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,39.0,0.0,10.0,0.0
13902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,67.0,0.0,3.0,0.0
15461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,42.0,2.0,14.0,0.0
2453,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,58.0,2.0,17.0,0.0

In [68]:
# Initializing the model
rf = RandomForestClassifier(n_estimators=50)

# Training the model
rf_model = rf.fit(X_train, Y_train)

# Predict the values
y_pred = rf_model.predict(X_test)

# Calculate the scores
precision, recall, fscore, support = score(Y_test, y_pred)

In [69]:
accuracy = (y_pred == Y_test).sum()/len(y_pred)
print("Precision: {} \nRecall: {} \nFscore: {} \nSupport: {} \nAccuracy: {}". format(precision, recall, fscore, support, accuracy))

Precision: [0.97185864 0.94856459]
Recall: [0.9452578  0.97360344]
Fscore: [0.95837367 0.96092093]
Support: [1571 1629]
Accuracy: 0.9596875

## <center>Random forest model with grid search</center>

<b>Grid search:</b> Searchs a combination of parameters to determine the best model.

In [70]:
def train_rf(n_est, depth):
    # Initializing the model
    rf = RandomForestClassifier(n_estimators=n_est, max_depth=depth, n_jobs=-1)
    
    # Training the model
    rf_model = rf.fit(X_train, Y_train)

    # Predict the values
    y_pred = rf_model.predict(X_test)

    # Calculate the scores
    precision, recall, fscore, support = score(Y_test, y_pred, average = 'binary')
    accuracy = (y_pred == Y_test).sum()/len(y_pred)
    return precision, recall, fscore, support, accuracy
    
    # Print scores
    # print("Est: {}, depth: {} ---> Precision: {} | Recall: {} | Fscore: {} | Support: {} | Accuracy: {}". format(n_est, depth, precision, recall, fscore, support, accuracy))

In [71]:
score_metrics = []
for n_est in [10, 50, 100]:
    for depth in [10, 20, 30, None]:
        precision, recall, fscore, support, accuracy = train_rf(n_est, depth)
        score_metrics.append((n_est, depth, precision, recall, fscore, support, accuracy ))

In [72]:
# Creating dataframe of the score metrics
score_df = pd.DataFrame(score_metrics, columns=['n_estimator', 'max_depth', 'Precision', 'Recall', 'Fscore', 'Support', 'Accuracy'])
score_df

    n_estimator  max_depth  Precision    Recall    Fscore Support  Accuracy
0            10       10.0   0.935091  0.565991  0.705163    None  0.759062
1            10       20.0   0.839827  0.952732  0.892724    None  0.883437
2            10       30.0   0.843393  0.952118  0.894464    None  0.885625
3            10        NaN   0.941425  0.957029  0.949163    None  0.947812
4            50       10.0   0.841167  0.955801  0.894828    None  0.885625
5            50       20.0   0.874789  0.956415  0.913783    None  0.908125
6            50       30.0   0.961159  0.896255  0.927573    None  0.928750
7            50        NaN   0.949670  0.972990  0.961189    None  0.960000
8           100       10.0   0.889082  0.939840  0.913757    None  0.909687
9           100       20.0   0.928700  0.951504  0.939964    None  0.938125
10          100       30.0   0.941853  0.954573  0.948171    None  0.946875
11          100        NaN   0.946929  0.974831  0.960678    None  0.959375

## <center>Random Forest with Grid search cross validation</center>

<b>Cross validation:</b> Divides the dataset into k number of sets and repeats the holdout mehod k number of times where a different set is heldout in each of the iteration

In [73]:
from sklearn.model_selection import GridSearchCV

In [74]:
%%time
# Initializing the model
rf = RandomForestClassifier()

# Setting the parameters for grid search
param = {'n_estimators': [10, 150, 300],
        'max_depth': [30, 60, 90]}

# Intializing grid search cv
gs = GridSearchCV(rf, param, cv =3)
gs_fit = gs.fit(features, target)

# Create dataframe with ascending accuracy value (mean_test_score == accuracy)
gs_df = pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False)
gs_df.head()

Wall time: 13min 29s

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
8,68.312747,0.185241,0.899937,0.004426,90,300,"{'max_depth': 90, 'n_estimators': 300}",0.950694,0.948059,0.952560,0.950437,0.001846,1
4,24.948575,0.247980,0.460771,0.008180,60,150,"{'max_depth': 60, 'n_estimators': 150}",0.952006,0.949559,0.945809,0.949125,0.002548,2
7,35.478035,0.962150,0.556126,0.006378,90,150,"{'max_depth': 90, 'n_estimators': 150}",0.942820,0.944872,0.949372,0.945688,0.002736,3
5,51.158588,1.169272,0.755502,0.032055,60,300,"{'max_depth': 60, 'n_estimators': 300}",0.940007,0.945059,0.942809,0.942625,0.002066,4
2,26.253279,0.127769,0.462774,0.001248,30,300,"{'max_depth': 30, 'n_estimators': 300}",0.942632,0.940371,0.934558,0.939187,0.003401,5

## <center>Gradient Boosting with grid search</center>

In [75]:
from sklearn.ensemble import GradientBoostingClassifier

In [76]:
def train_gb(n_est, depth, lr):
    # Initializing the model
    gb = GradientBoostingClassifier(n_estimators=n_est, max_depth=depth, learning_rate=lr)
    
    # Training the model
    gb_model = gb.fit(X_train, Y_train)

    # Predict the values
    y_pred = gb_model.predict(X_test)

    # Calculate the scores
    precision, recall, fscore, support = score(Y_test, y_pred, average = 'binary')
    accuracy = (y_pred == Y_test).sum()/len(y_pred)
    return precision, recall, fscore, support, accuracy

In [77]:
score_metrics = []
for n_est in [50,100]:
    for depth in [3,7]:
        for lr in [0.1,1]:
            precision, recall, fscore, support, accuracy = train_gb(n_est, depth,lr)
            score_metrics.append((n_est, depth, lr, precision, recall, fscore, support, accuracy ))

In [78]:
# Creating dataframe of the score metrics
score_df = pd.DataFrame(score_metrics, columns=['n_estimator', 'max_depth', 'Learning Rate', 'Precision', 'Recall', 'Fscore', 'Support', 'Accuracy'])
score_df

,n_estimator,max_depth,Learning Rate,Precision,Recall,Fscore,Support,Accuracy
0,50,3,0.1,0.874556,0.907305,0.890630,None,0.886563
1,50,3,1.0,0.924954,0.930632,0.927785,None,0.926250
2,50,7,0.1,0.901679,0.923266,0.912345,None,0.909687
3,50,7,1.0,0.919365,0.923880,0.921617,None,0.920000
4,100,3,0.1,0.889220,0.916513,0.902660,None,0.899375
5,100,3,1.0,0.922937,0.933702,0.928288,None,0.926562
6,100,7,0.1,0.918478,0.933702,0.926027,None,0.924063
7,100,7,1.0,0.917640,0.916513,0.917076,None,0.915625

## <center>Gradient boosting with Grid search cross validation</center>

In [80]:
%%time
# Initializing the model
gb = GradientBoostingClassifier()

# Setting the parameters for grid search
param = {'n_estimators': [100, 150],
        'max_depth': [3, 5],
        'learning_rate': [1]}

# Intializing grid search cv
gs = GridSearchCV(gb, param, cv =3)
gs_fit = gs.fit(features, target)

# Create dataframe with ascending accuracy value (mean_test_score == accuracy)
gs_df = pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False)
gs_df.head()

Wall time: 42min 34s

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_learning_rate,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,119.490132,1.412438,0.722169,0.045733,1,3,100,"{'learning_rate': 1, 'max_depth': 3, 'n_estima...",0.929321,0.924995,0.923120,0.925812,0.002597,1
1,177.490209,0.414801,0.691157,0.019617,1,3,150,"{'learning_rate': 1, 'max_depth': 3, 'n_estima...",0.928384,0.926683,0.919932,0.925000,0.003650,2
3,288.051843,0.496666,0.747085,0.038474,1,5,150,"{'learning_rate': 1, 'max_depth': 5, 'n_estima...",0.927822,0.923495,0.918620,0.923312,0.003759,3
2,192.511758,0.619679,0.724125,0.045716,1,5,100,"{'learning_rate': 1, 'max_depth': 5, 'n_estima...",0.924822,0.920308,0.913932,0.919687,0.004467,4